@tailwind base;
@tailwind components;
@tailwind utilities;

/*-------------------------- STYLE SPECIALE -----------------------------------------*/
#text{
    animation: rotate 10s linear infinite ;
}
#text span{
    position: absolute;
    left: 50%;
    transform-origin: 0 72px;
    font-size: 16px;
    font-weight: bolder;
    color: black;
}
main{
    background: linear-gradient(to bottom,white, black);
}
div canvas{
    @apply fixed top-0 left-0 w-screen h-screen;
}
.h1{
    font-size: calc(130vw / 4);
    -webkit-text-stroke: 5px black;
    -webkit-text-fill-color: transparent;
}
.shoe-name{
    font-size: calc(100vw / 5);
    mix-blend-mode: overlay;
}
@keyframes rotate {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
#btn_shop{
    background-color: rgb(156, 156, 156);
}