@tailwind base;
@tailwind components;
@tailwind utilities;

/*-------------------------- STYLE SPECIALE -----------------------------------------*/
main{
    background: linear-gradient(to bottom,violet, black);
}
div canvas{
    @apply fixed top-0 left-0 w-screen h-screen
}
.h1{
    font-size: calc(130vw / 4);
    -webkit-text-stroke: 5px black;
    -webkit-text-fill-color: transparent;
}
.shoe-name{
    font-size: calc(100vw / 5);
}