@tailwind base;
@tailwind components;
@tailwind utilities;

/*-------------------------- STYLE SPECIALE -----------------------------------------*/
#text{
    animation: rotate 10s linear infinite ;
}
#text span{
    position: absolute;
    left: 50%;
    transform-origin: 0 72px;
    font-size: 16px;
    font-weight: bolder;
    color: black;
}
.linear-bg{
    background: linear-gradient(to bottom,white, black);
}
div canvas{
    @apply fixed top-0 left-0 w-screen h-screen;
}
.h1{
    font-size: calc(130vw / 5);
    -webkit-text-stroke: 5px;
    -webkit-text-fill-color: transparent;
}
.shoe-name{
    font-size: calc(100vw / 8);
    -webkit-text-stroke: 5px;
}
.stroke-vide {
    -webkit-text-fill-color: transparent;
}
@keyframes rotate {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.shoe-name span:nth-child(1){
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
    animation: dechirure1 0.5s ease-in-out forwards;
}
.shoe-name span:nth-child(2){
    clip-path: polygon(0 100%, 100% 100%, 100% 50%, 0 50%);
    animation: dechirure 0.5s ease-in-out forwards;
}
@keyframes dechirure1 {
    0%{
        left: 80%;
    }
    100%{
        left: 50%;
        clip-path: none;
    }
}
@keyframes dechirure {
    0%{
        left: 30%;
    }
    100%{
        left: 50%;
        clip-path: none;
    }
}
/*------------------ Boutton shop -----------------------*/
#btn_shop{
    background-color: rgb(156, 156, 156);
}